header {
    background-image: none !important;
    background-color: #f7f7f7;
    text-align: center;
    color: #fff;
}

.navbar-custom {
    background-color: #000 !important;
    height: auto;
}
.navbar-brand {
    padding: 0px 15px;
    margin-top: -15px;
}
.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
    color: #fff !important;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #ffff00 !important;
    outline: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.btn-xl {
    color: #111 !important;
    background-color: #FFED00 !important;
    border-color: #FFED00 !important;
    border-radius: 3px !important;
    font-size: 16px !important;
    padding: 8px 15px !important;
}
.btn-xl.active, .btn-xl:active, .btn-xl:focus, .btn-xl:hover, .open .dropdown-toggle.btn-xl {
    color: #111 !important;
    background-color: #E5D500;
    border-color: #f6bf01;
}

.fondopubli {
	background: url('../img/publicidad5.jpg') no-repeat;
	background-size: cover;
	min-height: 400px;
}
section {
    padding: 60px 0 !important;
}
footer {
    background: #111;
    color: #fff;
    padding: 5% 0 !important;
}
ul.social-buttons li a {
    background-color: #444 !important;
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #FFED00 !important;
    color: #111;
}
h3 {
    text-transform: none !important;
}
.linkpolo {
    text-decoration: none;
    color: #111;
}
.linkpolo:hover {
    text-decoration: none;
    color: #777;
}
.linkpolo:active {
    text-decoration: none;
    color: #777;
}
a.active, a:active, a:focus, a:hover {
    color: #777 !important;
    text-decoration: none;
}
h3.section-heading {
    font-size: 22px;
    font-weight: 400;
}

.intro-heading {
    font-size: 55px !important;
}
.intro-lead-in {
    font-size: 30px !important;
    color: #CC1448 !important;
}
input.form-control {
    padding: 5% 2%;
}
header .intro-text .intro-heading {
    margin-bottom: 0px !important;
    color: #CC1448 !important;
}
header .intro-text {
    padding-top: 120px !important;
    padding-bottom: 0px !important;
}
button.btn.btn-default.btnbuscar {
    padding: 6px 10%;
    background-color: #ffed00;
    border-color: #ffed00;
    margin: 15px 0;
}
button.btn.btn-default.btnbuscar:hover {
    padding: 6px 10%;
    background-color: #ccc;
    border-color: #ccc;
}
.texto-ficha {
    color: #111;
    padding-top: 0;
}

.textoreserva {
    font-size: 13px;
}
.redesficha {
    font-size: 1.7em;
    padding: 5px 15px;
}
a .redesficha {
    color: #111;
}
a .redesficha:hover {
    color: #ccc;
}
i.fa.fa-facebook.redesficha:hover {
    color: #3b5998;
}
i.fa.fa-twitter.redesficha:hover {
    color: #55acee;
}
i.fa.fa-instagram.redesficha:hover {
    color: #8a3ab9;
}
i.fa.fa-tripadvisor.redesficha:hover {
    color: #00af87;
}
i.fa.fa-globe.redesficha:hover {
    color: #efde00;
}
.datosficha {
    font-size: 1.3em;
    width: 30px;
    text-align: center;
    color: #777;
}
.textodatosficha {
    font-size: 13px;
}
.titulosugerencia1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 2%;
}
.titulosugerencia2 {
    font-size: 16px;
    text-align: center;
}
.descripsugerencia {
    font-size: 12px;
    text-align: center;
}
.titulocomentarios {
    font-size: 24px;
    text-align: center;
    padding-bottom: 2%;
}
.iconos {
    max-width: 40px;
    height: 30px;
}

.desact {
    opacity: 0.2;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/*Comentarios*/

.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

.filtros {
    padding-top: 0;
    text-align: right;
    color: #CC1448;
}

.menufooter {
        text-align: left;
}

.altoocasiones {
    min-height: 530px;
}

.fotosocasiones {

}

.fotoscocina {
    margin: 0 auto;
}

.panel-login {
    padding: 25% 0;
}

a#login-form-link {
    color: #000 !important;
}

a#register-form-link {
    color: #000 !important;
}

a.forgot-password {
    color: #9a9a9a !important;
}

a.forgot-password:hover {
    color: #444 !important;
}

.recordar {
    font-weight: 400 !important;
    color: #444 !important;
}

.precioficha {
    height: 90px;
    bottom: -54px;
    display: block;
}

.sugeridos {
    margin: 0 auto;
}

.tituloback {
    font-size: 1.5em;
    color: #fff;
    width: 315px;
    padding-top: 10px;
}

.nav>li>a {
    font-size: 1.1em;
}

ul.dropdown-menu {
    font-size: 0.9em;
}

.navbar-default {
    background-color: #ffff00;
    border-color: #ffff00;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

a.dropdown-toggle {
    color: #000 !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #000;
    color: #ffff00 !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
    background-color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.collapse.in .dropdown-menu {
    width: 100%;
}

.btn-default {
    border-color: #efefef;
}

.input-group-btn {
    font-size: 0.7em;
}

td {
    font-size: 1.3em;
}

.tituloseccion {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0 0;
    color: #464646 !important;
    background-color: transparent !important;
    font-size: 2em;
}

.panel-default {
    border: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.panel>.panel-heading:after, .panel>.panel-heading:before {
    border-style: none;
}

.form-control:focus {
    border-color: #dedede;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(222,222,222,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(222,222,222,.6);
}

.botonbuscar:hover {
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

.caret {
    display: none;
}

.nav>li>a {
    padding: 10px 9px;
}

.form-control {
    border-radius: 0px;
}

.titulotabla {
    background: black;
    color: #fff;

}

.btn-default.botaccion {
    border: 0;
}

.centrarbotaccion {
    text-align: center;
}

.titulosoporte {
    font-size: 3em;
    font-weight: 700;
    color: #eaeaea;
    line-height: 1.9em;
}


.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000000 !important;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #ddd !important;
}

.pagination {
    float: right;
    font-size: 1.3em;
}


.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 45px;
}

.fa {
    min-width: 20px;
}

.form-control {
    height: 3.2em;
}

h5.titulosalta {
    margin-top: 3%;
    border-top: 0px solid #eaeaea;
    padding-top: 2%;
    font-size: 1.4em;
}

.panellocales {
    height: 65vh;
    padding-top: 13%;
    min-height: 715px;
}


/*MEDIA  QUERIES*/


@media only screen and (max-width : 425px) {

    button.navbar-toggle {
        padding-top: 2%;
        margin-top: 5%;
    }

    button.navbar-toggle.collapsed {
        padding-top: 2%;
        margin-top: 5%;
    }

    ul.nav.navbar-nav.navbar-right {
        background: #ffed00;
    }

    img.logoweb {
        max-width: 50px;
        padding-top: 35%;
    }
    .tituloback {
        padding-top: 5%;
    }
    .navbar-custom {
        height: 80px;
    }

    section h2.section-heading {
        font-size: 2em !important;
        margin-top: 0;
        margin-bottom: 15px !important;
    }

    .intro-heading {
        font-size: 55px !important;
    }

    .intro-heading {
        font-size: 45px !important;
        padding-bottom: 10%;
    }
    header .intro-text .intro-lead-in {
        font-size: 22px !important;
        line-height: 35px !important;
    }
    button.btn.btn-default.btnbuscar {
        margin-top: 10%;
    }
    .filtros {
        text-align: center;
    }

    .menufooter {
            text-align: center;
    }

    .precioficha {
        display: none;
    }

    .texto-ficha {
        color: #111;
        padding-top: 13%;
    }

}
.panellocales {
        height: auto;
        padding-top: 20%;
        min-height: 715px;
    }


#map {
    width: 100%;
    height: 400px;
}

.opcionesLocal .checkbox{
    margin-top: -5px;
}

span#sizing-addon3 {
    background: #f8981d;
    color: #ffffff;
    font-size: 1.6em;
    min-width: 50px;
}

button#botonGuardar {
    background: #5cb85c;
    color: #fff;
}

botoncancelar {
    background: #fff6f6;
    color: #b8221e;
}