/****************************************

29-03-2018
* Nueva Clase Creada, .anteriores, para dividir las guias.
* Se agrego el hover a la clase .descarga-mapa-

********************************************/

header {
    background-image: none !important;
    background-color: #ffff00;
    text-align: center;
    color: #fff;
}

.fondoficha {
    background-image: none !important;
    background-color: #fff;
    text-align: center;
    color: #fff;
}

.carousel-inner > .item {
    object-fit: cover;
    object-position: center;
    max-height: 408px;
    max-width: 730px;
}

.navbar-custom {
    background-color: #ffff00 !important;
    padding: 0;
    height: auto;
}

.navbar-brand {
    padding: 0px 15px;
    margin-top: -15px;
}

.navbar-custom .nav li a,
.navbar-custom .navbar-toggle {
    color: #111 !important;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    color: #7F7600 !important;
    outline: 0;
}

.navbar-custom.affix {
    background-color: #222;
    padding: 0px 0;
}

.logoweb {
    margin-top: -25px
}

.nombreusuarionav {
    margin-top: -18px;
    margin-right: 15px;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
}

.acceder-mobile {
    display: none;
}

.acceder-pc {
    display: block;
}

.botonsalirfront {
    color: #000;
    padding-left: 10px;
    font-weight: 100;
}

.botonsalirfront:hover {
    color: #000;
    padding-left: 10px;
    font-weight: 100;
}

.buscadorresultados {
    display: inline-flex;
    margin-top: 7px;
}

.btn-xl {
     -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
    color: #fff !important;
    
     background-color: #f8981d!important;
    border-color: #f8981d!important;
    /* MAGENTA
    background-color: #da3743!important;
    border-color: #da3743!important;*/
     /*AZUL
    background-color: #237b98!important;
    border-color: #237b98!important;*/
      /*ALMAlbec
    background-color: #a4113d!important;
    border-color: #a4113d!important;*/
    border-radius: 3px !important;
    font-size: 16px !important;
    padding: 8px 15px !important;
}

.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl {
    color: #fff !important;
    background-color: #dc7d03!important;
    border-color: #dc7d03!important;
}

.btn-info {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-info:hover {
    color: #fff !important;
    background-color: #368136;
    border-color: #d8d8d8;
}

.btn-info:focus {
    color: #fff !important;
    background-color: #368136;
    border-color: #d8d8d8;
}


.btn-danger {
    color: #b8221e;
    background: #fff6f6;
    border-color: #efefef;
}

.btn-danger:hover {
    color: #fff !important;
    background-color: #d9534f;
    border-color: #adadad;
}

.btn-danger:focus {
    color: #fff !important;
    background: #fff6f6;
    border-color: #adadad;
}



.fondopubli-web {
    /*background: url(../img/fondopubli.jpg) no-repeat;*/
    background-size: cover;
    /*min-height: 400px;*/
    background-position: top;
    display: block;
    max-width: 1920px;
}

.fondopubli-mobile {
    /*background: url(../img/fondopubli-mobile.jpg) no-repeat;*/
    background-size: auto;
    min-height: 425px;
    background-position: center;
    display: none;
    max-width: 500px;
}

section {
    padding: 60px 0 !important;
}

footer {
    background: #ffff00;
    color: #000;
    padding: 5% 0 !important;
}

ul.social-buttons li a {
    background-color: #000000 !important;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #ffff00;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #ffff00 !important;
    color: #000 !important;
    border: 1px solid #000;
    color: #111;
    margin-top: -1px;
}

h3 {
    text-transform: none !important;
}

.linkpolo {
    text-decoration: none;
    color: #111;
    cursor: pointer;
}

.linkpolo:hover {
    text-decoration: none;
    color: #777;
}

.linkpolo:active {
    text-decoration: none;
    color: #777;
}

a.active,
a:active,
a:focus,
a:hover {
    color: #777 !important;
    text-decoration: none;
}

h3.section-heading {
    font-size: 22px;
    font-weight: 400;
}

.intro-heading {
    font-size: 55px !important;
}

.intro-lead-in {
    font-size: 30px !important;
    color: #000 !important;
}

.calificastars {
    display: inline-flex;
    list-style: none;
    letter-spacing: 3px;
    font-size: 1.7em;
    margin: 2px 5px;
}

.miperfilusuario {
    padding: 7% 0 2% 0;
}

input.form-control {
    padding: 5% 2%;
}

input.form-control.perfil {
    padding: 3% 2%;
    margin: 7px;
}

input.form-control.perfil.perfilfront {
    padding: 3% 2%;
    margin: -2% 0 3%;
}

header .intro-text .intro-heading {
    margin-bottom: 0px !important;
    color: #000 !important;
}

header .intro-text {
    padding-top: 70px !important;
    padding-bottom: 0px !important;
}

button.btn.btn-default.btnbuscar {
    padding: 10px 20%;
    background-color: #000000;
    border-color: #000;
    margin: 15px 0;
    color: white;
    margin-left: 0%;
}

button.btn.btn-default.btnbuscar:hover {
    padding: 10px 20%;
    background-color: #f8f8f8;
    border-color: #cecece;
    color: #000;
}

button.btn.btn-default.btnbuscarnav2 {
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
    background: #f8981d;
    color: #fff;
    border-color: #f8981d;
}

button.btn.btn-default.btnbuscarnav2:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(216, 216, 216, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(202, 202, 202, 0.6);
}

input[type="text"].buscadornav2::-webkit-input-placeholder {
    color: #555;
}

.buscadornav2::selection {
    background: #ccc;
}

input.form-control.buscadornav2 {
    width: 270px;
    background: #fff;
    border-color: #0000001a;
    color: #000;
    float: left;
}

h3.titulo {
    font-size: 24px;
}

.texto-ficha {
    color: #111;
    padding-top: 0;
}

.textoreserva {
    font-size: 13px;
    height: 182px;
    overflow: hidden;
    line-height: 1.6em;
}

.redesficha {
    font-size: 1.7em;
    padding: 5px 15px;
}

a .redesficha {
    color: #111;
}

a .redesficha:hover {
    color: #ccc;
}

i.fa.fa-facebook.redesficha:hover {
    color: #3b5998;
}

i.fa.fa-twitter.redesficha:hover {
    color: #55acee;
}

i.fa.fa-instagram.redesficha:hover {
    color: #8a3ab9;
}

i.fa.fa-tripadvisor.redesficha:hover {
    color: #00af87;
}

i.fa.fa-globe.redesficha:hover {
    color: #efde00;
}

.datosficha {
    font-size: 1.3em;
    width: 30px;
    text-align: center;
    color: #777;
}

.textodatosficha {
    font-size: 13px;
}

.iconoficha {
    color: #f8981d;
    margin-left: 1%;
    margin-right: 1%;
}

.iconofichamisreservas {
    color: #f8981d;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 15px;
    text-align: center;
}

.reservarfijo {
    position: fixed;
    width: 100%;
    margin-top: 2%;
    background: #2cbdbe;
    z-index: 0;
    height: 40px;
    color: #fff;
    font-size: 16px !important;
    padding: 8px 15px !important;
    font-weight: 700;
    transition: all .6s ease-in-out;
    display: none;
}

.verreservar {
    display: block !important;
    margin-top: 85px;
    border-top: 2px solid #2cbdbe;
    z-index: 20;
    transition: all .6s ease-in-out;
}

div#iconoFavorito {
    min-height: 90px;
}

.favoritosfichagris {
    color: #cacaca !important;
    font-size: 0.9em;
    padding-left: 4%;
}

.favoritosfichagris:hover {
    color: #e02222 !important;
    font-size: 0.9em;
    padding-left: 4%;
}

.favoritosficharojo {
    color: #e02222 !important;
    font-size: 0.9em;
    padding-left: 4%;
}

.favoritosficharojo:hover {
    color: #e02222 !important;
    font-size: 0.9em;
    padding-left: 4%;
}

.titulosugerencia1 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 2%;
}

.titulosugerencia2 {
    font-size: 16px;
    text-align: center;
}

.descripsugerencia {
    font-size: 12px;
    text-align: center;
}

.titulocomentarios {
    font-size: 24px;
    text-align: center;
    padding-bottom: 2%;

}

.iconos {
    max-width: 40px;
    padding: 10%;
}

.desact {
    opacity: 0.2;
}

.promocionesficha {
    display: inline-flex;
    list-style: none;
    overflow: hidden;
}

.etiquetapromoficha {
    padding: 0 5px;
    cursor: pointer;
}

.decrippromoficha {
    height: 90px;
    overflow: overlay;
    padding-right: 22px;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/*Comentarios*/

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel > .panel-heading:after,
.panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.filtros {
    padding-top: 0;
    text-align: right;
    color: #000;
}

.menufooter {
    text-align: left;
}

.altoocasiones {
    min-height: 445px;
}


.fotoscocina {
    margin: 0 auto;
}

h4.titulotipococina {
    font-size: 1.2em;
    margin-bottom: 8%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    filter: alpha(opacity=5);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

#overlay #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

}

#loading {
    position: fixed;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    background-color: #fffffff5;
    z-index: 99999;
    color: #000;
}


.panel-login {
    padding: 25% 0;
}

a#login-form-link {
    color: #000 !important;
    font-size: 1.5em;
}

a#login-form-link:focus {
    color: #f8981d !important;
    font-size: 1.5em;
}

a#register-form-link {
    color: #000 !important;
    font-size: 1.5em;
}

a#register-form-link:focus {
    color: #f8981d !important;
    font-size: 1.5em;
}

a.forgot-password {
    color: #9a9a9a !important;
}

a.forgot-password:hover {
    color: #444 !important;
}

.botregistrarme {
    border: 1px solid #d4d4d4;
    padding: 3% !important;
    color: #fff;
    background: #000;
}

.botregistrarme:hover {
    border: 1px solid #eaeaea;
    padding: 3% !important;
    color: #fff;
    background: #f8981d;
}

.recordar {
    font-weight: 400 !important;
    color: #444 !important;
}

.precioficha {
    height: 0px;
    bottom: -54px;
    display: block;
}

.sugeridos {
    margin: 0 auto;
}

.centraimagensugeridos {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 90px;
    width: 190px;
    padding: 0 5%;
}

.selechora {
    padding: 0;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80px;
    border-bottom: 0px;
    margin: 0 3.5px 7px;
}

.botonhorareserva {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    font-size: 1.1em;
    text-decoration: initial;
    font-weight: normal;
}

.botonhorareserva:hover {
    background: #fdfda4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    font-size: 1.1em;
    text-decoration: initial;
    font-weight: normal;
}

.botonhorareserva:focus {
    background: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    font-size: 1.1em;
    text-decoration: initial;
    outline: #f8981d;
    font-weight: bold;
}


#map {
    width: 100%;
    height: 400px;
}

.h2.tituloocasiones.section-heading {
    font-size: 1.4em;
    margin-top: 4%;
}


.botonmanito {
    cursor: pointer;
}

h3.elegimapa {
    font-size: 1.3em;
    text-align: center;
}

.descarga-mapa {
    max-width: 250px;
    margin: 3% 0;
    box-shadow: 1px 1px 8px #ccc;
}

.descarga-mapa:hover {
    max-width: 250px;
    margin: 3% 0;
    box-shadow: 1px 1px 8px #868686;

}


h3.botdescarmapa {
    font-size: 1.3em;
    text-align: center;
}

.resultadosbusqueda {
    padding-top: 6%;
}

h3#labelRestaurantesBusquedas {
    padding-top: 3%;
}

.locales {
    margin-bottom: 5%;
    min-height: 80vh;
}

.modal {
    z-index: 99999999 !important;
    background: rgba(255, 255, 255, 0.8);
}

.modal-backdrop {
    display: none;
}

.fade {
    opacity: 1;
    padding-top: 8%;
}

a.linkperfil {
    color: #383838;
}

.cancelarreservafront {
    font-size: 16px !important;
    padding: 8px !important;
}

.cancelarreservafront:hover {
    color: #fff !important;
    font-size: 16px !important;
    padding: 8px !important;
}


.cancelarreserva {
    font-size: 16px !important;
    padding: 8px 15px !important;
}

.cancelarreserva:hover {
    color: #fff !important;
    font-size: 16px !important;
    padding: 8px 15px !important;
}

.imgnoresultado-web {
    display: block;
}

.imgnoresultado-mobile {
    display: none;
}

.modalpromoficha {
    max-width: 650px;
    background: #fff;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #c4c4c4;
    margin-top: 30%;
}

.tycmenupromos {
    color: #787878;
}

.tycmenupromos p {
    font-size: 12px;
}


div#modalPromocion {
    background: rgba(33, 33, 33, 0.8);
}

.separadormodalpromoficha {
    border-bottom: 1px solid #ededed;
    padding-bottom: 2%;
}

.separador {
    padding: 3% 0;
}

.headermodalpromoficha {
    border-bottom: 3px solid #ededed;

    v
}

.imgspromoficha {
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 260px;
    margin: 0 0 5%;
}

h4.elegimenu {
    margin-top: -5px;
    font-size: 15px;
    color: #f8981d;
}

h4.elegiopcionreserva {
    margin-top: 3px;
    font-size: 15px;
    color: #f8981d;
}

h5.opcionmenureserva {
    text-transform: none;
    color: #3f3f3f;
}

.cantopcionesmenureserva {
    padding: 5% 2%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #e27f00;
}


.separadoropcionesreservas {
    border-bottom: 3px solid #ededed;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seccionopcionesreserva {
    padding: 5px 40px !important;
    max-width: 700px;
    margin: 0 auto;
    background: #fafafa;
}

@media only screen and (max-width: 768px) {

    .imgnoresultado-web {
        display: none;
    }

    .imgnoresultado-mobile {
        display: block;
    }
}


/*MEDIA QUERIES*/

input#login-submit {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
    border-radius: 3px !important;
    font-size: 1em !important;
    padding: 8px 15px !important;
}

input#login-submit:hover {
    color: #fff !important;
    background-color: #7d7d7d !important;
    border-color: #7d7d7d !important;
    border-radius: 3px !important;
    font-size: 1em !important;
    padding: 8px 15px !important;
}


@media only screen and (max-width: 375px) {

    .modalpromoficha {
        max-width: 290px !important;
        margin-top: 130% !important;
    }

}


@media only screen and (max-width: 425px) {

    .servicios {
        display: block !important;
    }

    button.navbar-toggle.collapsed {
        padding-top: 5%;
    }

    button.navbar-toggle.collapsed {
        padding-top: 3%;
    }

    i.fa.fa-bars {
        font-size: 2em;

    }

    ul.nav.navbar-nav.navbar-right {
        background: #ffff00;
    }

    img.logoweb {
        width: 230px;
        padding-top: 25px;
    }

    .navbar-custom {
        height: 80px;
    }

    section h2.section-heading {
        font-size: 2em !important;
        margin-top: 0;
        margin-bottom: 15px !important;
    }

    .intro-heading {
        font-size: 55px !important;
    }

    .intro-heading {
        font-size: 45px !important;
        padding-bottom: 10%;
    }
    header .intro-text .intro-lead-in {
        font-size: 22px !important;
        line-height: 35px !important;
    }
    button.btn.btn-default.btnbuscar {
        margin-top: 10%;
    }
    .filtros {
        text-align: center;
    }

    .menufooter {
        text-align: center;
    }

    .precioficha {
        display: none;
    }

    .texto-ficha {
        color: #111;
        padding-top: 13%;
    }

    .resultadosbusqueda {
        padding-top: 15%;
    }

    .reservafront {
        padding-top: 18%;
        min-height: 85vh;
    }

    .modalpromoficha {
        max-width: 330px;
        margin-top: 100%;
    }


}

p#nivelPrecio {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

p#nivelPrecio {
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

li#calificacionLocal {
    display: none;
}

#bajadaNegocio {
    font-weight: 400;
    font-size: 0.9em;
}

.servicios {
    display: inline-flex;
}


.botonverreserva {
    text-align: center;
    background: #f8981d;
    font-size: 1.4em;
    padding: 3%;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    width: 62%;
    margin: 0 auto;
    text-transform: inherit;
}

.reservafront {
    padding-top: 7%;
    min-height: 85vh;
}

.appstore {
    max-width: 115px;
    display: inline-flex;
    padding: 3% 0;
}

a.linkresultadobuscador {
    color: #000 !important;
}

.resultadoficha {
    padding-top: 5%;
    color: #252525;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 2%;
}

.etiquetadescuento {
    text-align: center;
    background: #f8981d;
    font-size: 1em;
    padding: 3.5% 1%;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin: 2px auto;
}

.contenedorpromos {
    text-align: center;
}

.nombrePromocion {
    text-transform: none;
}

ul.promosvertical.vc_list {
    list-style: none;
}

.botslidervert a {
    text-align: center;
    color: #000;
    font-size: 18px;
}

.etiquetapromo {
    margin: 2px 10px;
}

.verreserva {
    text-align: center;
    background: #f8981d;
    font-size: 1.2em;
    padding: 5% 1%;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    width: 60%;
    margin: 4% auto;
}

.verreserva:hover {
    text-align: center;
    background: #f48d08;
    font-size: 1.2em;
    padding: 5% 1%;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    width: 60%;
    margin: 4% auto;
}

@media only screen and (max-width: 1024px) {
    .altoocasiones {
        width: 960px;
    }
    .resultadosbusqueda {
        padding-top: 14%;
    }
    .centraimagensugeridos {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 75px;
        width: 135px;
        padding: 0 0%;
    }
    .titulosugerencia2 {
        font-size: 14px;
        text-align: center;
    }
    h3.titulo {
        font-size: 22px;
    }
    .textodatosficha {
        font-size: 12px;
    }
    .miperfilusuario {
        padding: 12% 0 2% 0;
    }
    img.logoweb {
        max-width: 230px;
        float: left;
        margin-left: -25px;
    }

    /*Menu lateral*/
    .acceder-mobile {
        display: block;
    }

    .acceder-pc {
        display: none;
    }

    .nombreusuarionav {
        margin-top: -18px;
        margin-right: 15px;
        text-align: left;
        font-size: 0.9em;
        font-weight: bold;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 25px;
    }

    /*Fin Menu Lateral*/
    .fondopubli-web {
        /*background: url(../img/fondopubli.jpg) no-repeat;*/
        background-size: cover;
        min-height: 300px;
        background-position: top;
        display: none;
        max-width: 768px;
    }
    .fondopubli-mobile {
        display: block;
    }

    .modalpromoficha {
        max-width: 560px !important;
        margin-top: 35% !important;
    }

}



@media only screen and (max-width: 768px) {

    nav#mainNav {
        margin-bottom: 0px;
    }
    .altoocasiones {
        width: 750px;
    }
    .buscadorresultados {
        display: none;
    }
    .menufooter {
        text-align: center;
    }
    .bajateapp {
        max-width: 370px;
        margin: 0 auto;
    }
    section h2.section-heading {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .etiquetadescuento {
        text-align: center;
        background: #f8981d;
        font-size: 1.4em;
        padding: 8% 0;
        font-weight: 400;
        color: #fff;
        border-radius: 5px;
        width: 100%;
        margin: 0 auto;
    }

    .etiquetadescuento.verreserva {
        text-align: center;
        background: #f8981d;
        font-size: 1.4em;
        padding: 3% 0;
        font-weight: 400;
        color: #fff;
        border-radius: 5px;
        width: 40%;
        margin: 0 auto;
        box-shadow: 1px 1px 1px #ccc;
    }

    h2.tituloocasiones.section-heading {
        font-size: 0.9em !important;
    }

    section h2.section-heading {
        font-size: 30px !important;
        margin-top: 20px !important;
        margin-bottom: 15px !important;
    }

    .modalpromoficha {
        max-width: 560px !important;
        margin-top: 70% !important;
    }


}

@media only screen and (max-width: 425px) {

    .fondopubli-web {
        display: none;
    }
    .fondopubli-mobile {
        display: block;
    }

    .altoocasiones {
        width: 420px;
    }
    .resultadosbusqueda {
        padding-top: 20%;
    }
    .imgslocalesbusqueda {
        object-fit: cover;
        object-position: center;
        height: 150px;
        width: 260px;
        margin: 0 auto 5%;
    }
    h3.titulo {
        font-size: 18px;
    }
    .titulosugerencia1 {
        font-size: 18px;
        text-align: center;
        padding-bottom: 6%;
    }
    .centraimagensugeridos {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 75px;
        width: 135px;
        padding: 0 0%;
        margin: 0 auto;
    }
    div#iconoFavorito {
        min-height: 55px;
    }
    .miperfilusuario {
        padding: 20% 0 5% 0;
        margin-left: 7%;
    }
    .navbar-nav {
        margin: 15.5px -15px;
    }
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 60px;
    }

    img.logoweb {
        max-width: 230px;
        float: left;
        margin-left: 43px;
        padding-top: 25px;
    }

}


@media only screen and (max-width: 320px) {


    img.logoweb {
        max-width: 230px;
        float: left;
        margin-left: -10px;
        padding-top: 25px;
    }

}

/***************************************Ariel CSS*/

.anteriores img {
    width: 50%
}

.modal-body {
    padding: 0!important
}

/*Buscador del Index*/

.input-index {

    width: 80%;
    float: left;
    border-radius: 4px 0 0 4px;
    border: none
}

button.btn.btn-default.btnbuscar {

    width: 20%;
    float: left;
    padding: 0;
    padding: 3% 2%;
    margin: 0;
    border-radius: 0 4px 4px 0;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    background-color: #000;
    border: #000
}

button.btn.btn-default.btnbuscar:hover {

    width: 20%;
    float: left;
    padding: 0;
    padding: 3% 2%;
    margin: 0;
    background-color: #f8981d;
    color: #fff
}

.logoindex .logoweb {
    margin-top: 0
}

/*Seccion para especiales*/

#seccion-especiales {
    
    margin:10% 0 0 0
        
}
.contenedor-boton {
    
padding:90px 0 0 0
}

.boton-restos {
    text-decoration: none;
    padding: 20px;
    font-size: 12px;
    
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    background-color: #a4113d;
    color: #ffffff;
    border-radius: 4px;
   font-weight:500
    
}

.boton-restos:hover {
    background-color: #000;
    color:#fff!important
}


/*Arreglo para encuadrar imagenes en Slider*/
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    
    width: 750px
}