


.superadmin {
  width: 100%;
     background-color: #343a40;
    
}

footer .nav li {
    
    padding:0;
        border-right: 1px solid #474f56;
     
}

footer .nav li:last-child {
    
    
        border-right: none
}

footer .nav li a:link  {
  padding: 18px;
    color: #fff;
    font-size: 11px
}

footer .nav li a:hover{
    background-color: #474f56;
    
}

footer .nav li a:visited  {
  
    color: #fff;
   
}

footer nav {
    width: 100%;
   
}

footer .nav{
   width: 90%;
    margin: 0 auto;
}

.superadmin .active {
     background-color: #474f56;
}
