.amarillosol {
    background-color: #eac51e
}

.mango {
    background-color: #e4aa1a
}
.naranjaMadura {
    background-color: #d17208
}


.amanecerRojizo {
    background-color: #b54908
}

.pasion {
    background-color: #911606
}

.violetaSuave {
    background-color: #d5c9d3
}

.orquidea {
    background-color: #6878a9
}
.azulIndigo {
    background-color: #016297
}

.azulPetroleo {
    background-color: #184542
}

.noche {
    background-color: #191c25
}

.kiwi {
    background-color: #a4af4f
}
.manzana {
    background-color: #4a7e00
}
.salvia {
    background-color: #6c7a61
}

.pistacchio {
    background-color: #849865
}

.musgo {
    background-color: #4c5b18
}


.bermellon {
    background-color: #92352e
}

.rojoOxido {
    background-color: #8d392e
}

.ladrillo {
    background-color: #95593d
}
.teja {
    background-color: #af7851
}

.naranja {
    background-color: #b83d11
}

.amarillo {
    background-color: #c7a946
}

.ocre {
    background-color: #bb992e
}


.amarilloCromo {
    background-color: #e3c701
}

.azul {
    background-color: #1e3561
}

.azulIntenso {
    background-color: #678094
}

.azulLavanda {
    background-color: #98a6cb
}

.verdeCromo {
    background-color: #3d5f46
}

.marron {
    background-color: #3e3129
}

.cemento {
    background-color: #888461
}

.bermellonAlAgua {
    background-color: #b60404
}

.rojoOxidoAlAgua {
    background-color: #992109
}

.ocreAlAgua {
    background-color: #bc8506
}

.naranjaAlAgua {
    background-color: #ce3803
}

.amarilloAlAgua {
    background-color: #dac102
}

.verdeInglesAlAgua {
    background-color: #09371b
}

.azulAlAgua {
    background-color: #10046b
}

.negroAlAgua {
    background-color: #100c0d
}

.rojoOxidoBrillante {
    background-color: #6f1a13
}

.castañoBrillante {
    background-color: #6e3c33
}
.amapolaBrillante {
    background-color: #b10305
}
.bermellonBrillante {
    background-color: #9a0808
}

.naranjaBrillante {
    background-color: #ce3104
}

.marronBrillante {
    background-color: #3d1315
}

.avellanaBrillante {
    background-color: #54332c
}

.beigeBrillante {
    background-color: #b29b71
}
.ocreBrillante {
    background-color: #bb8217
}

.amarilloCromoBrillante {
    background-color: #ddbe01
}
.cremaBrillante {
    background-color: #d3b052
}

.damascoBrillante {
    background-color: #a7642f
}

.cremaPastelBrillante {
    background-color: #d4c174
}

.amarilloMedianoBrillante {
    background-color: #dda102
}

.marfilEleganteBrillante {
    background-color: #cdbf90
}
.marfilBrillante {
    background-color: #d6cd96
}

.verdeColonialBrillante {
    background-color: #14201e
}

.verdePinoBrillante {
    background-color: #294d27
}

.verdeInglesBrillante {
    background-color: #0b3f28
}

.verdeSelvaBrillante {
    background-color: #055942
}

.verdeOrienteBrillante {
    background-color: #329e8f
}

.verdeBrillante {
    background-color: #8ca377
}

.verdeOlivaBrillante {
    background-color: #3f422d
}

.bronceColonialBrillante {
    background-color: #2a211c
}

.blancoEspumaBrillante {
    background-color: #b8b997
}

.grisPlataBrillante {
    background-color: #b9bab5
}

.azulMedianoBrillante {
    background-color: #06052d
}

.azulBrillante {
    background-color: #051865
}

.azulejoBrillante {
    background-color: #123f7a
}

.celesteBrillante {
    background-color: #3675a8
}

.grisOscuroBrillante {
    background-color: #454449
}

.grisSideralBrillante {
    background-color: #7c8582
}

.grisNubeBrillante {
    background-color: #9a9c8e
}

.grisBrillante {
    background-color: #9c9e9d
}


.amanecer {
    background-color: #dcc1ba
}
.crepusculo {
    background-color: #dbb09d
}


.rosaViejo {
    background-color: #d8cabd
}

.naranjaPardo {
    background-color: #dab28f
}

.desierto {
    background-color: #dcc29d
}

.coral {
    background-color: #d6a38e
}


.rosaClasico {
    background-color: #ded3d1
}

.rosaPantera {
  background-color: #ffe0ff;

}

.rosaParisien {
  background-color: #ffd6c2;
 
}

.gresCeramico {
  background-color: #cf9845;

}

.Mataco {
  background-color: #d6a65e;
  
}


.Marfil {
  background-color: #ede896;
 
}
.Beige {
  background-color: #af8344;
  
}
.Arena {
  background-color: #e5dca5;
  
}
.nuez {
  background-color: #cebe5f;
  
}
.Vison {
  background-color: #cac186;
  
}
.Crema {
  background-color: #ebd38d;
  
}
.AmarilloLimon {
  background-color: #f5fa58;
  
}
.verdeIlusion {
  background-color: #53df58;
  
}
.amarilloManilla {
  background-color: #fcde86;
  
}
.amarilloSahara {
  background-color: #f7fa87;
  
}
.verdeHelecho {
  background-color: #9ee77b;
  
}
.verdeSeco {
  background-color: #b4a854;
  
}
.verdeClaro {
  background-color: #abf0ad;
  
}
.verdeAgua {
  background-color: #d2f7d5;
  
}
.azulCosmos {
  background-color: #84b4c0;
  
}
.azulViolaceo {
  background-color: #819dc2;
  
}
.verdeTurquesa {
  background-color: #9ceeb0;
  
}
.grisSiberia {
  background-color: #707264;
  
}
.grisCeniza {
  background-color: #a9a99d;
  
}
.celestial {
  background-color: #b8e6f5;
  
}
.lila {
  background-color: #eedaf6;
  
}
.verdeParma {
  background-color: #add4a5;
  
}
.grisAstracan {
  background-color: #83bf79;
  
}
